.Chart{
    flex: 6;
    -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.47);
-moz-box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
 border-radius: 8px;
padding: 10px;
color: gray;

    .title{
        margin-bottom: 20px;
        display: flex;
        
    }
    .chartGrid{
        stroke:transparent;
    }
   
}