form{ 
    padding: 15px;
    padding-left: 400px;
    .charttaxicontainer{
    
        -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
     border-radius: 8px;
    padding: 10px;
    color: gray;
     align-items: center;
        width: 550px;
        height: 580px;
        padding-left:10px;
        align-items: center;
        justify-content: center;
       
    }
}

.static{
    
    color: gray;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 25px;
    padding-left: 5px;
}