.datatable {
    height: 600px;
    padding: 20px;

    .datagrid {
        .active {
            color: green;
            background-color: rgba(255, 217, 0, 0.05);

        }

        .blocked {
            color: #cf2e2e;
            background-color: rgba(255, 217, 0, 0.05);
        }
    }

   
    .cellAction {

        height: 100px;
        display: flex;
        // gap: 85px;
        padding-top: 0px;

        ul {
            display: flex;
            padding: 1px;
            padding-left: 15px;

            i {
                padding: 26px;
            }
        }

        .viewButton {
            padding: 0px 6px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted rgba(0, 0, 139, 0.596);
            cursor: pointer;

        }

        .updateButton {
            padding: 0px 5px;
            border-radius: 5px;
            color: green;
            border: 1px dotted rgba(42, 108, 36, 0.629);
            cursor: pointer;

        }

        .deleteButton {
            padding: 0px 5px;
            border-radius: 6px;
            color: crimson;
            border: 1px dotted rgba(220, 20, 60, 0.6);
            cursor: pointer;


        }
    }
}