.listprice{
    display: flex;
  width: 1500px;
    
    .listcomminutyContainer{
        flex: 6;
       
       
       
   .static1{
       
    color: gray;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 25px;
    padding-left: 15px;
  }
 
   
        .type{
            .price{display: flex;}
            align-items: center;
            padding: 10px;
            .com{
                font-size: 15px;
                padding: 0px 36px 50px;
               
            }
           
        }
       }
      
   .result{
    margin-top: -25px;
    padding-left:60px;
    display: flex;
   } 

    

}
  
