.login{
  
       img{
        padding: 16px;
        padding-left: 120px;
        width: 100px;
    }

    form{
        .box{
            background-color: transparent;
        }
       
        height: 290px;
        margin-top:10px ;
        padding: 25.3em;  
        padding-left: 100px;
    }
    .button{
        // align-items: center;
         //justify-content: center;
         padding-left: 100px;
         padding-top: 19px;
         button{
             padding: 10px;
             font-size: 15px;
             width: 120px;
             background-color: #029FA0;
         }
        }
     th{padding:10px;
        justify-content: center;
        padding-left: 30px;
        input{
            justify-content: center;
            width:250px;
            height:30px;
            border-radius:15px;
            border: none;
            }
        
     } 
    .name{
        padding-left: 9px;
        font-size: 12px;
    }
    
    /*
    .second-input{
        padding-top: 50px;
      
    }
    */


    label{
    
        color:white;
        font-size:17px;
        padding-left: 150px;
        
    }
    h1{ 
          
        text-align: center; 
        padding: 9px;
        padding-left: 0px;
        color: #EC6D0F;
    
    }
    h5{
        padding: 2px;
        padding-left: 110px;
        color: #029FA0;
    }
    
    .back{
        height: 100%;
        width: 100%;
       }
    
       
    
    
    }